
<div id="sidebar">
    <ul class="sidebar-menu">
        <li class="toggle-sidebar"><a href="#" data-toggle="sidebar"><i class="fas fa-users"></i></a></li>
        <% channels.forEach(function(channel){ %>
            <li><a href="/channel/<%= channel._id%>" class="current-server" data-toggle="tooltip" data-placement="right" data-title="<%= channel.channel_name %>"><img src="<%= channel.channel_picture %>" alt=""></a></li>
        <% }) %>
      <li><a href="#" data-no-defresh class="join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Create A Group"><i class="fa fa-plus"></i></a></li>
      <li><a href="/discovery" data-do-defresh data-toggle="tooltip" data-placement="right" data-title="Explore Public Servers! 🔎"><i class="fas fa-search"></i></a></li>
      <li><a href="/market" data-do-defresh data-toggle="tooltip" data-placement="right" data-title="Vist The Marketplace 🛒"><i class="fas fa-shopping-cart"></i></a></li>



      <li><a href="https://glitchord.discourse.group" target="_blank" data-toggle="tooltip" data-placement="right" data-title="Check out our forum!"><i class="fas fa-comments"></i></a></li>
<!--  <li><a href="/joystick" data-do-defresh data-toggle="tooltip" data-placement="right" data-title="Enter joystick! 🎮"><i class="fas fa-gamepad"></i></a></li> -->
  </ul>
</div>