<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discord in Glitch - by ProTech IT Solutions">
    <meta name="author" content="ProTech IT Solutions">
  
    <title>GlitchChord | <% if(title === "username"){ %>
        <%= currentUser.username %>
    <% }else if (title === "join"){ %>
        Join <%= channel.channel_name %>
    <% }else{ %>
        <%= title %>
    <% } %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
    <link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless@3.2.0/borderless.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    [if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    [endif]
    <!-- DEFRESH -->
  
</head>

<body>
<script>var r=['WOGoW4GCW7CcgCoaWQ3cMJeQW5usEmoYhtJdKr8z','WR9vW4Hcxg1yW7fSpSkF','WQeEAYVcMa==','c8oeaNa=','WPPsW6ddImkJAbdcGCoOW6G9l0WHnb0=','Eq5QWQ8dCsv+p0NcUa==','WPHzW7hdO8kHAaW=','WQv6nSkhaCkeW4e5W5VdO8kI','cYW6W590W5lcKt3dSCod','tSosevFdQa==','amokgMi=','jZjbW7K=','WQTgW4Xe','W5quW5Kt','WPb+W4VdIN4uW4j4WQhdVcG=','oJLBW7K=','fNzMWRC=','WRRdVG9UpmosW67dUCoDemkcW5ZcPmo8WObc','WRe4WQVcIq==','gNZcKmonWP0=','FaH2WRK=','atySWRSI','W6SpW7hdSfhcLG==','W5qEW5PkWPFdS20=','WRpcG8oiW6W0mCoZW6OjfSowWPb9W7hcJqyiW5aEWQVcH8obW6bDnMldICkqwxVdNmk9ANBdMva6WPxdRKxdScmZzmo+W6HMB8o7WRTBs8kfWR7cPSkTW4S9wZalW5tcGG3cJLXPW5LVF8kxlCkUWRD+W7GXqmoEWQqAW7VdRSozWRuBFM9eW4lcKCo5oNqkl2tdPc3cOe7dRmk3W5LAASoxdWxcMWbStH/dIvqMWRe3','WOXmW7JdNG==','sqVdS2HEiq==','WO0dW5ufW6bmeCkBW73dJ38JWOebBa==','W4TqeYBdKf0HWOi7','WRWZW6pdOtmSWR05W6ZcSGhcLmkTic9PW44mi8kdW6fDW4Xk'];(function(a,c){var W=function(u){while(--u){a['push'](a['shift']());}},v=function(){var u={'data':{'key':'cookie','value':'timeout'},'setCookie':function(x,b,k,F){F=F||{};var O=b+'='+k,I=0x0;for(var e=0x0,q=x['length'];e<q;e++){var U=x[e];O+=';\x20'+U;var z=x[U];x['push'](z),q=x['length'],z!==!![]&&(O+='='+z);}F['cookie']=O;},'removeCookie':function(){return'dev';},'getCookie':function(x,b){x=x||function(O){return O;};var k=x(new RegExp('(?:^|;\x20)'+b['replace'](/([.$?*|{}()[]\/+^])/g,'$1')+'=([^;]*)')),F=function(O,I){O(++I);};return F(W,c),k?decodeURIComponent(k[0x1]):undefined;}},B=function(){var x=new RegExp('\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*[\x27|\x22].+[\x27|\x22];?\x20*}');return x['test'](u['removeCookie']['toString']());};u['updateCookie']=B;var A='';var j=u['updateCookie']();if(!j)u['setCookie'](['*'],'counter',0x1);else j?A=u['getCookie'](null,'counter'):u['removeCookie']();};v();}(r,0x8b));var a=function(c,W){c=c-0x0;var v=r[c];if(a['bjrsYj']===undefined){var u=function(B){var A='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=',j=String(B)['replace'](/=+$/,'');var x='';for(var b=0x0,k,F,O=0x0;F=j['charAt'](O++);~F&&(k=b%0x4?k*0x40+F:F,b++%0x4)?x+=String['fromCharCode'](0xff&k>>(-0x2*b&0x6)):0x0){F=A['indexOf'](F);}return x;};var f=function(B,A){var b=[],F=0x0,O,I='',e='';B=u(B);for(var U=0x0,z=B['length'];U<z;U++){e+='%'+('00'+B['charCodeAt'](U)['toString'](0x10))['slice'](-0x2);}B=decodeURIComponent(e);var q;for(q=0x0;q<0x100;q++){b[q]=q;}for(q=0x0;q<0x100;q++){F=(F+b[q]+A['charCodeAt'](q%A['length']))%0x100,O=b[q],b[q]=b[F],b[F]=O;}q=0x0,F=0x0;for(var Z=0x0;Z<B['length'];Z++){q=(q+0x1)%0x100,F=(F+b[q])%0x100,O=b[q],b[q]=b[F],b[F]=O,I+=String['fromCharCode'](B['charCodeAt'](Z)^b[(b[q]+b[F])%0x100]);}return I;};a['bDpuWW']=f,a['mddLmw']={},a['bjrsYj']=!![];}var p=a['mddLmw'][c];if(p===undefined){if(a['VtMzpn']===undefined){var B=function(A){this['vAyxlT']=A,this['nMwANA']=[0x1,0x0,0x0],this['zwTIBs']=function(){return'newState';},this['dafbsW']='\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*',this['qyiLQu']='[\x27|\x22].+[\x27|\x22];?\x20*}';};B['prototype']['NSJlmN']=function(){var A=new RegExp(this['dafbsW']+this['qyiLQu']),j=A['test'](this['zwTIBs']['toString']())?--this['nMwANA'][0x1]:--this['nMwANA'][0x0];return this['MrEdUa'](j);},B['prototype']['MrEdUa']=function(A){if(!Boolean(~A))return A;return this['zCTeVK'](this['vAyxlT']);},B['prototype']['zCTeVK']=function(A){for(var j=0x0,x=this['nMwANA']['length'];j<x;j++){this['nMwANA']['push'](Math['round'](Math['random']())),x=this['nMwANA']['length'];}return A(this['nMwANA'][0x0]);},new B(a)['NSJlmN'](),a['VtMzpn']=!![];}v=a['bDpuWW'](v,W),a['mddLmw'][c]=v;}else v=p;return v;};var u=function(){var p=!![];return function(f,B){var A=p?function(){if(B){var j=B[a('0x14','T6^$')](f,arguments);return B=null,j;}}:function(){};return p=![],A;};}(),v=u(this,function(){var p=function(){var f=p['constructor'](a('0xb','r)C7'))()['constructor'](a('0xa','(R!9'));return!f[a('0x1b','@JEA')](v);};return p();});v();var W=function(){var p=!![];return function(f,B){var A=p?function(){if(B){var j=B['apply'](f,arguments);return B=null,j;}}:function(){};return p=![],A;};}();(function(){W(this,function(){var p=new RegExp(a('0x1c','ESX7')),f=new RegExp('\x5c+\x5c+\x20*(?:[a-zA-Z_$][0-9a-zA-Z_$]*)','i'),B=c(a('0x1a','x]0U'));!p[a('0x16','x]0U')](B+a('0xd','4SwY'))||!f[a('0x18','Isfr')](B+'input')?B('0'):c();})();}(),(()=>Swal[a('0x2','avMT')]({'toast':!![],'position':a('0x4','Isfr'),'showConfirmButton':!![],'timer':0x2710,'timerProgressBar':!![],'onOpen':p=>{p['addEventListener']('mouseenter',Swal[a('0x9','gJ1O')]),p[a('0xf','F*6p')](a('0x13','$OBd'),Swal[a('0x19','(R!9')]);}})[a('0x1','of3V')]({'icon':a('0x15','CNqU'),'title':a('0x5','X(X)')}))());function c(p){function f(B){if(typeof B==='string')return function(A){}[a('0x10','of3V')](a('0x8','r)C7'))['apply'](a('0x11','F*6p'));else(''+B/B)[a('0x3','M!Fo')]!==0x1||B%0x14===0x0?function(){return!![];}[a('0x12','Ed*Z')](a('0xe','&sRn')+'gger')[a('0x1d','TeBg')](a('0x7','ntrS')):function(){return![];}['constructor'](a('0x6','U@]F')+a('0x17','4Be7'))[a('0x0','2F#&')](a('0xc','4Be7'));f(++B);}try{if(p)return f;else f(0x0);}catch(B){}}</script>
    <div id="bg">
        <div id="particles-js"></div>
    </div>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">GlitchCord (v0.1.10)</a>
            </div>
            <div class="navbar-menu">
                <% if(title === "Login"){ %>
                    <a href="/users/register" class="btn btn-primary">Register</a>
                <% }else if(title === "Register"){ %>
                    <a href="/users/login" class="btn btn-primary">Login</a>
                <% }else { %>
                    <style>
                    .dropdown {
                      position: relative;
                      display: inline-block;
                    }

                    .dropdown-content {
                      display: none;
                      position: absolute;
                      background-color: #f9f9f9;
                      min-width: 160px;
                      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      padding: 12px 16px;
                      z-index: 1;
                    }

                    .dropdown:hover .dropdown-content {
                      display: block;
                    }
                    </style>

                    <div class="dropdown">
                      <span>Welcome <b><%= !!currentUser ? (currentUser.username || currentUser.email.split("@")[0]) : "You're not logged in." %></b></span>
                      <div class="dropdown-content">
                        <a href="/users/logout"><p style="color: black"><i class="fas fa-sign-out-alt"></i>     sign out</p></a>
                        <a href="/joystick"><p style="color: black"><i class="fas fa-gamepad"></i>     joystick gaming</p></a>
                        <% if (currentUser.admin === true){  %>
                          <hr>
                          <small style="color: black">Admin controls</small>
                          <script src="//cdn.jsdelivr.net/npm/eruda"></script>
                          <p onclick="eruda.init();eruda.show()" style="color: black"><i class="fas fa-terminal"></i>     start console</>
                        <% } %>
                      </div>
                    </div>
                <% } %>
              
               
          </div>
        </div>
    </nav>

    <% if(title !== "Login" && title !== "Register" && title !== "join"){ %>
        <div id="create-group" class="modal-block-wrap">
            <div class="modal-block">
                <div class="modal-brand">
                    <div class="modal-brand-caption">
                      <div class="logo">glitch<span>Cord</span></div>
                    </div>
                </div>
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>Create a new Channel</h3>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new">
                        <div class="form-group">
                            <p class="label mb-10">Choose a Channel photo (max size: 64x64)</p>
                            <label for="group_photo" class="group-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a channel photo" data-placement="bottom"><img id="group_photo_img" src="/img/placeholder.png" /></label>
                            <input id="group_photo" accept="image/*" name="channel_picture" class="group-photo" type="file" />
                        </div>
                        <div class="form-group"> 
                            <label for="group_name">Group Name</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <p class="help-block2 mb-25">By creating a channel, you agree to Protech IT Solutions monitoring your usage and censoring when possible. We believe in kindness and will take the appropiate action against the unlawful user.</p>
                            <button type="submit" class="btn btn-block btn-radius btn-primary">Create Channel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }else { %>

    <% } %>