<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Glitchord a new way to chat!">
  
    <title>GlitchChord | <% if(title === "username"){ %>
        <%= currentUser.username %>
    <% }else if (title === "join"){ %>
        Join <%= channel.channel_name %>
    <% }else{ %>
        <%= title %>
    <% } %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link href="/img/icon.png" rel="icon" type="image/png">
    <link href="/img/icon.png" rel="shortcut icon" type="image/png">

    <!-- Custom CSS -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
    <link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless@3.2.0/borderless.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    [if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    [endif]
</head>
<noscript>
Swal.fire(
  'Whoops!',
  'Your javascript isn't enabled, meaning you can't use glitchchord how it should be!,
  'error'
)
</noscript>
<body>
<script>
  function alert(e){
    
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: true,
      timer: 9000,
      timerProgressBar: true,
      onOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    Toast.fire({
      icon: 'info',
      title: e
    })
}
  alert('Check out server discovery: https://glitchchord-app.glitch.me/discovery!'); 
  </script>
    <div id="bg">
        <div id="particles-js"></div>
    </div>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">GlitchCord (v0.1.13)</a>
            </div>
            <div class="navbar-menu">
                <% if(title === "Login"){ %>
                    <a href="/users/register" class="btn btn-primary">Register</a>
                <% }else if(title === "Register"){ %>
                    <a href="/users/login" class="btn btn-primary">Login</a>
                <% }else { %>
                    <style>
                    .dropdown {
                      position: relative;
                      display: inline-block;
                    }
    
                    .dropdown-content {
                      display: none;
                      position: absolute;
                      background-color: #f9f9f9;
                      min-width: 160px;
                      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      padding: 12px 16px;
                      z-index: 1;
                    }

                    .dropdown:hover .dropdown-content {
                      display: block;
                    }
                    </style>

                    <% if (currentUser.suspended === true){  %>
                    <% } %>
                 
                    <div class="dropdown">
                      <img src="https://cdn.glitch.com/fed07a0d-f89e-468a-b25a-f38a95ed433a%2Fchat_phone.svg?v=1596601576034" height="25" width="25"> Welcome <b><%= !!currentUser ? (currentUser.username || currentUser.email.split("@")[0]) : "You're not logged in." %></b></span>
                      <div class="dropdown-content">
                        <a href="/users/logout"><p style="color: black"><i class="fas fa-sign-out-alt"></i>     Sign Out</p></a>
                        <a href="/discovery"><p style="color: black"><i class="fas fa-search"></i>     Server Discovery</p></a>
                        <a href="/joystick"><p style="color: black"><i class="fas fa-gamepad"></i>     Joystick Gaming</p></a>

                        <% if (currentUser.admin === true){  %>
                          <hr>
                          <small style="color: black">Admin Controls</small>
                        <a href="/admin"><p style="color: black"><i class="fas fa-gavel"></i>     Admin Panel</p></a>
                                                                   

                        <% } %>
                      </div>
                    </div>
                <% } %>
              
               
          </div>
        </div>
    </nav>

    <% if(title !== "Login" && title !== "Register" && title !== "join"){ %>
        <div id="create-group" class="modal-block-wrap">
            <div class="modal-block">
                <div class="modal-brand">
                    <div class="modal-brand-caption">
                      <div class="logo">glitch<span>Cord</span></div>
                    </div>
                </div>
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>Create a new Channel</h3>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new">
                        <div class="form-group">
                            <p class="label mb-10">Choose a Channel photo (max size: 64x64)</p>
                            <label for="group_photo" class="group-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a channel photo" data-placement="bottom"><img id="group_photo_img" src="/img/placeholder.png" /></label>
                            <input id="group_photo" accept="image/*" name="channel_picture" class="group-photo" type="file" />
                        </div>
                      <div class="form-group"> 
                            <label for="group_name">Group Name</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" maxlength="30" minlength="5"/>
                        </div>
                       <% if (currentUser.role === "staff"){  %>
                        <div class="form-group"> 
                            <label for="group_name">Other</label><br>
                            <input type="checkbox" name="channel_staffverify" id="channel_staffverify" value="true"/> Verify Server?
                        </div>
                    <% } %>
                      
                      
            
                        <div class="form-group">
                            <p class="help-block2 mb-25">By creating a channel, you agree to Protech IT Solutions monitoring your usage and censoring when possible. We believe in kindness and will take the appropiate action against the unlawful user.</p>
                                                                                                      <% if (currentUser.suspended === false) {  %>
                                                             <button type="submit" class="btn btn-block btn-radius btn-primary">Create Channel</button>
                    <% } %>  
                                        <% if (currentUser.suspended === true) {  %>
                          <h6 style="color:red;">
                            Suspened Users Cannot Create Channels
                          </h6>
                    <% } %>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
     
    <% }else { %>

    <% } %>
  
  
     
        <div id="check-server" class="modal-block-wrap">
            <div class="modal-block">
              
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>View A Server's Info</h3>
<!--                     <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new"> -->
                     
                        <div class="form-group"> 
                            <label for="group_name">Server Invite Link</label>
                            <input type="text" value="https://glitchchord-app.glitch.me/channel/join/" name="channel_name" id="group_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <p class="help-block2 mb-25">Make sure the invite link is valid. </p>
                            <button type="submit" class="btn btn-block btn-radius btn-primary">View Info</button>
                        </div>
<!--                     </form> -->
                </div>
            </div>
        </div>

  
    <div id="suspened-user" class="modal-block-wrap">
            <div class="modal-block">
              
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>Suspend A User</h3>
<!--                     <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new"> -->
                     
                        <div class="form-group"> 
                            <label for="group_name">Username Of User To Suspend</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" />
                        </div>
                  <div class="form-group"> 
                            <label for="group_name">Reason To Suspened</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <p class="help-block2 mb-25">Do not abuse this service. </p>
                            <button type="submit" class="btn btn-block btn-radius btn-danger">Suspend User</button>
                        </div>
<!--                     </form> -->
                </div>
            </div>
        </div>

