<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discord in Glitch - by ProTech IT Solutions">
    <meta name="author" content="ProTech IT Solutions">
  
    <title>GlitchChord | <% if(title === "username"){ %>
        <%= currentUser.username %>
    <% }else if (title === "join"){ %>
        Join <%= channel.channel_name %>
    <% }else{ %>
        <%= title %>
    <% } %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
    <link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless@3.2.0/borderless.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    [if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    [endif]
    <!-- DEFRESH -->
    <script src="https://defresh.js.org/defresh.js" async></script>
</head>

<body>
<script>
  function alert(){
    
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: true,
      timer: 9000,
      timerProgressBar: true,
      onOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    Toast.fire({
      icon: 'info',
      title: 'Checkout our gogs instance! glitchcord-git.glitch.me'
    })
}
  alert()
  </script>
    <div id="bg">
        <div id="particles-js"></div>
    </div>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">GlitchCord</a>
            </div>
            <div class="navbar-menu">
                <% if(title === "Login"){ %>
                    <a href="/users/register" class="btn btn-primary">Register</a>
                <% }else if(title === "Register"){ %>
                    <a href="/users/login" class="btn btn-primary">Login</a>
                <% }else { %>
                    <style>
                    .dropdown {
                      position: relative;
                      display: inline-block;
                    }

                    .dropdown-content {
                      display: none;
                      position: absolute;
                      background-color: #f9f9f9;
                      min-width: 160px;
                      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      padding: 12px 16px;
                      z-index: 1;
                    }

                    .dropdown:hover .dropdown-content {
                      display: block;
                    }
                    </style>

                    <div class="dropdown">
                      <span>Welcome <b><%= !!currentUser ? (currentUser.username || currentUser.email.split("@")[0]) : "You're not logged in." %></b></span>
                      <div class="dropdown-content">
                        <a href="/users/logout"><p style="color: black"><i class="fas fa-sign-out-alt"></i>     sign out</p></a>
                        <a href="/users/@me"><p style="color: black"><i class="fas fa-user"></i>     profile</p></a>
                        <% if (currentUser.admin === true){  %>
                          <hr>
                          <small style="color: black">Admin controls</small>
                          <script src="//cdn.jsdelivr.net/npm/eruda"></script>
                          <p onclick="eruda.init();eruda.show()" style="color: black"><i class="fas fa-terminal"></i>     start console</>
                        <% } %>
                      </div>
                    </div>
                <% } %>
              
               
          </div>
        </div>
    </nav>

    <% if(title !== "Login" && title !== "Register" && title !== "join"){ %>
        <div id="create-group" class="modal-block-wrap">
            <div class="modal-block">
                <div class="modal-brand">
                    <div class="modal-brand-caption">
                      <div class="logo">glitch<span>Cord</span></div>
                    </div>
                </div>
                <div class="modal-block-content">
                    <span class="modal-close"><i class="fas fa-times"></i></span>
                    <h3>Create a new Channel</h3>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/channel/new">
                        <div class="form-group">
                            <p class="label mb-10">Choose a Channel photo (max size: 64x64)</p>
                            <label for="group_photo" class="group-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a channel photo" data-placement="bottom"><img id="group_photo_img" src="/img/placeholder.png" /></label>
                            <input id="group_photo" accept="image/*" name="channel_picture" class="group-photo" type="file" />
                        </div>
                        <div class="form-group"> 
                            <label for="group_name">Group Name</label>
                            <input type="text" name="channel_name" id="group_name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <p class="help-block2 mb-25">By creating a channel, you agree to Protech IT Solutions monitoring your usage and censoring when possible. We believe in kindness and will take the appropiate action against the unlawful user.</p>
                            <button type="submit" class="btn btn-block btn-radius btn-primary">Create Channel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }else { %>

    <% } %>