<% include partials/header %>

<script src="/js/libs/jquery-3.2.1.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/app.js?rev=@@hash"></script>
<link href="/stylesheets/fontawesome-all.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/jquery.mCustomScrollbar.css" rel="stylesheet">
<link href="/stylesheets/main.css?rev=@@hash" rel="stylesheet">
<link href="/stylesheets/main-responsive.css?rev=@@hash" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless@3.2.0/borderless.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
[endif]
  <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <center>
              <a href="/">
                <button style="color: black">
                return to glitchchord
                </button>
              </a>
          </center>
            <ul class="chat-list scroll-hijack">
            </ul>
        </div>
        <div id="profile" class="page">
            <div class="page-header clearfix">
                <span>Glitchchord Joystick</span>
                <ul>
                   <li style="color: #6495ed">BETA FEATURE</li>
                </ul>
            </div>
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h4>Welcome to glitchchord joystick- the integrated gaming platform</h4>
                      <hr>
                  </div>
                  </div>
              
                <% game.forEach(function(games){ %>
                        <li><a href="<%=channel.link%>"><%=game.name%></a></li>
                <%});%>
                                      
                      <div style="width:500px;height:100px;border:1px solid #000;float:left">This is where games shall go!</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>