
<link rel="stylesheet" href="/stylesheets/main.css">
<title>You Have Been Suspended</title>
<br><br><br><br><br><br><br><br><br><br><br>
<center>

<h1>
  You have been suspended from GlitchChord <% currentUser.username %>
  </h1>
  <h4>
Due To a Violation of <a href="/tos">Terms Of Service</a>
  </h4>
  <h5>
To Recover Your Account, please email <a href="mailto:abuse@glitchchord.tk">abuse@glitchchord.tk</a><br>
  </h5>
  <h6>
    If you don't make contact with us, within 14 days, your account will be marked for deletion.
  </h6>
</center>
