
<link rel="stylesheet" href="/stylesheets/main.css">
<title>You Have Been Suspended</title>
<br><br><br><br><br><br><br><br><br><br><br>
<center>

<h1>
  Your account has been suspended from Coffeechat, due to a violation of <a href="/tos">Terms Of Service</a><br><br>
  </h1>
  <h5>
If you wish to appeal, please email <a href="mailto:abuse@glitchchord.tk">abuse@glitchchord.tk</a><br><br>
  </h5>
  <h6>
    If you do not appeal, within 14 days, your account will be marked for deletion.
  </h6><br><br><br><br><br><br>
  <h6>
    
  </h6>
</center>

<!--
hey

hello
can you get on the forum
ok
sent you a PM
-->